.aboutpage {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr 1fr;
}

.contentImg {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  align-items: center;
  margin-right: 20px;
}

.title {
  margin: 0;
  align-content: flex-end;
  align-self: flex-end;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.subtitle {
  margin: 0;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
